body{
	margin: 0;
}

nav{
	grid-row: 1/2;
	grid-column: 1/3;
}

img.img-arc{	
    border-top-left-radius: 100%;
	border-top-right-radius: 0;
}

img.img-arc.reverse{
	border-top-right-radius: 100%;
    border-top-left-radius: 0;
}

p{
	font-family: 'Century', sans-serif; 
}




/* ====== navbar ====*/
#navbar ul li a {
	position: relative;
	min-width: 80px;
	outline: none;
	display: inline-block;
	text-decoration: none;
}

#navbar ul li a.pink::after {
	border-color: #EC5536;
}
#navbar ul li a.blue::after {
	border-color: #52C8F5;
}
#navbar ul li a.orchid::after {
	border-color: #6F3CD8;
}
#navbar ul li a.butter::after {
	border-color:#C8B722;
}

#navbar ul li a:hover::after,
#navbar ul li a:focus::after
{

	width: 40px;
	
}
#navbar ul li a:hover::before,
#navbar ul li a:focus::before{
	width: 40px;
}

#navbar ul li a::after {
	content: "";
	left: 30%;
	width: 0;
    transition: all .3s ease-out;
    border: none;
    border-bottom: solid 2px blue;
    display: block;
    transform: rotate(30deg);
    position: absolute;
    top: 11px;
}
#navbar ul li a::before{
	content: "";
	left: -11px;
	right: 75%;
	transition: all .3s ease-out;
	border:none;
	width: 0 ;
	position: absolute;
	top: -9px;
	border-bottom: solid 2px #a49ec554;
	transform: rotate(30deg);
	
}

#navbar ul{
	display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    padding-right: 10%;
    padding-left: 0;
    margin-bottom: 0;
    height: 70px;
}
#navbar ul li{
	display: inline-block;
	margin: 0 10px;
	text-align: center;
}
.item{
	text-decoration: none;
	color: #645E5E;
}
.typcn-shopping-cart{
    font-size: 1.5em;
    color: #6F3CD8;
    padding-left: 4%;
}

/* ====== image arc ====== */
.img-arc{
	width: 100%;
	height: 555px;
}

/* ====== left page ======*/
.bm-input{
	border-left:0;
	border-right: 0;
	border-top: 0;
	height: 30px;
	color: gray;
    font-family: 'Century', sans-serif;
    font-size: 15px;
    width: 328px;
    display: block;
    margin-bottom: 20px;
}


#sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sign-in .text-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading-1 {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    height: 80px;
}

.question{
    font-size: 12px;
    color: #52C8F5;
    letter-spacing: 1px;
    cursor: pointer;
    padding-top: 10px;
    transition: font-size 0.5s ease-in;
}

.question:hover{
	font-size: 14px;
}
.forgot-password{
	color: gray;
	font-size: 14px;
	letter-spacing: 1px;
}
.button{
    border: 0;
   	width: 126px;
    height: 45px;
    color: #000000;
    background-color: #52C8F5;
    border-radius: 37px;
    font-size: 17px;
    font-family: 'Century', sans-serif;
    margin-top: 20px;
    cursor: pointer;
}
.button:hover{
	/*background-image: url(../img/2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-style: dotted;
	border: 1px solid black;
	*/
	color: #fff;
	width: 120px;
    height: 40px;
	border-radius: 37px;
	font-size: 19px;

}

.divider {
    height: 20px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
	background-image: url(../img/divider.svg);
}

