body{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}
@font-face{
	font-family: 'typicons';
	src: url("../css/typicon/typicons.eot");
	src: url("../css/typicon/typicons.eot?#iefix") format('embedded-opentype'),
	       url("../css/typicon/typicons.woff") format('woff'),
	       url("../css/typicon/typicons.ttf") format('truetype'),
	       url("../css/typicon/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'curlz MT';
  src: url("../css/curlz/CurlzMT.ttf");
}
p {
	font-family: 'Century', sans-serif;
}



 /* ======== blurred background=====*/

.blur-wrap{
	position: relative;
}
.blur{
	background-image: url('../img/7.jpg');
	filter: blur(4px);
	-webkit-filter: blur(4px);
	height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    z-index: -1
}
.logo-wrap{
	margin-top: -40%;
	-webkit-margin-before: -40%;
    margin-bottom: 50px;
    display: flex;
	justify-content: center;
}
.logo{
	background-color: #0080807d;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.slider{
	display: flex;
	justify-content: center; 
}
.images{
	width: 300px;
	height: 200px;
	border-radius: 20px;
	object-fit: cover;
}
.imgutter{
	margin: 0 30px 0 30px;
}
.left{
	display: flex;
	align-self: center;
	font-size: 30px;
	height: 50px;
    width: 30px;
	background-color: #fff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.right{
	display: flex;
	align-self: center;
	font-size: 30px;
	height: 50px;
    width: 30px;
    background-color: #fff;
	border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.play{
	display: flex;
    align-items: center;
}
.navlist-wrap{
	display: flex;
	justify-content: center;
	padding-bottom: 10%;
}
.navlist{
	display: inherit;
    color: white;
    font-size: 30px;
}
.items{
	margin-left: 30px;
}
.items a {
	color: white;
	font-family: 'Century', sans-serif;
}
a { 
	text-decoration: none; 
}
h3{
	text-align: center;
	padding-top: 5%;
	/*font-family: 'Great Vibes', cursive;*/
	font-family: 'Curlz MT';
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0px;
}
.divider{
	display: flex;
	justify-content: center;
}

/* ====  f l a v o u r s======*/

.card-wrap{
	display: flex;
	justify-content: center;
}
.card{
	background-image: url(../img/1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 300px;
    height: 200px;
    margin: 60px 30px 30px 30px;
}
.sublet-wrap{
	display: flex;
	justify-content: center;
}
.sublet{
	display: flex;
	justify-content: center;
    background-image: linear-gradient( to bottom, #DCDCDC, #E9E9E9, #F9F9F9);
    width: calc(100vw - 200px);
    border-radius: 30px;

}
.sl-card{
	width: 250px;
	height: 180px;
	margin: 60px 30px 60px 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	border-radius: 20px;
}
.sl-card1{
	background-image: url(../img/6.jpg);
}
.sl-card2{
	background-image: url(../img/6.jpg);
}
.sl-card3{
	background-image: url(../img/6.jpg);
}
.sl-card4{
	background-image: url(../img/6.jpg);
}
.sl{
	width: 50%;
    height: 100%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #edd324;
    font-size: 20px;
}
.card-desc{
	background-color: #fff;
    display: inline-block;
    font-size: 20px;
    top: -19px;
    position: relative;
}
.bf-source{
	width: 200px;
	height: 219px;
    border-bottom-right-radius: 40px;
}
.source{
	border-bottom-right-radius: 100%;
    height: 120px;
    width: 140px;
}

a .typcn {
	color: gray;
}
.explore-wrap{
	height: 60%;
    align-items: flex-end;
    display: flex;
    bottom: 25%;
    position: relative;
}
.explore {
    color: #80808094;
    background-color: #615a5a0f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0.6em;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.fancy-arrow{
	position: relative;
    display: flex;
    align-items: center;
    left: -3%;
    cursor: pointer;
}
.blue{
	color: #12c9f3;
}


/*   ============  m  e  n  u    ======*/

.menu-wrap{
	display: flex;
	justify-content: space-evenly;
	padding-top: 100px;
}
.menu{
	display: inherit;
}
.dpybig{
	height: 257.37px; width: 257.37px;
	position: relative;
	z-index: 100;
}
.dpybig-left{
	padding-right: 15%;
}
.dpybig-right{
    padding-left: 15%;
}

.dpycontent-left{
    padding-left: 10%;
    padding-right: 2%;
}
.dpycontent-right{
	padding-right: 10%;
    padding-left: 2%;
}

.dpysmall{
    height: 60px;
    width: 60px;
    color: gray;
    background-color:#F6F6F6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 4px 6px;
}
.menupic{
	height: 257.37px;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.stack{
	display:block;
}
.align-circ{
	z-index: 100;
	position: relative;
	margin-top: -72px;
}
.tilt-left{
	float: left;
    padding-left: 15%;
    width: 302.77px;
    margin-top: -72px;
}
.tilt-right{
	float: right;
    margin-top: -85%;
    padding-right: 15%;
}
.title{
	color: #6F3CD8;
	font-size: 18px;
	letter-spacing: 3px;
	font-family: 'curlz MT', sans-serif;
	font-style: italic;
	font-weight: 600;
}
.title-wrap{
    display: flex;
    color: #6F3CD8;
    justify-content: center;
}
.menu-desc{
	color: #645E5E;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 1.5 ;
}
.menu-desc-right{
	text-align: end;
}
.price{
	color:#52C8F5;
}
.price-left{
	text-align: end;
}
.ratings{
	color: #6F3CD8;
    padding-top: 9%;
    padding-right: 27%;
}
.ratings-left{
	text-align: end;
}
.rate-price-wrap{
	display: flex;
}

.typcn-minus{
	margin-top: 20px;
}


